.login {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  z-index: 9999999999;
  position: relative;
  display: grid;
  place-content: center;
  backdrop-filter: blur(10px);
}
.login input {
  padding: 0.5em 2em;
  outline-color: #1B82B6;
  outline-offset: 0;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  /* margin: 1em 0; */
}
.pass {
  position: relative;
}
.pass i {
  position: absolute;
  right: 5%;
  top: 60%;
}
.login button {
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: #1B82B6;
  color: white;
  margin: 1em 0;
}
