@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /**
   * colors
   */

  --green-blue-crayola: hsl(202, 75%, 47%);
  --prussian-blue: hsl(202, 72%, 15%);
  --eerie-black: hsl(210, 11%, 15%);
  --dark-orange: #115373;
  --alice-blue: hsl(203, 100%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --indigo-dye: hsl(202, 64%, 26%);
  --cultured-1: hsl(0, 0%, 94%);
  --cultured-2: hsl(0, 0%, 95%);
  --cultured-3: hsl(0, 0%, 95%);
  --plutinum: #efefef;
  --black_60: hsla(0, 0%, 0%, 0.6);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 24%);

  /**
   * typography
   */

  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.2rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * shadow
   */

  --shadow-1: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  --shadow-2: 0px 20px 20px hsla(180, 2%, 11%, 0.7);
  --shadow-3: 0px 0px 60px hsla(202, 75%, 47%, 0.5);

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
  font-family: "poppins";
}
body {
  /* height: 2200vh; */
}
input::-webkit-inner-spin-button {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
time,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

/* input,
button {
  background: none;
  border: none;
  font: inherit;
} */

/* input { width: 100%; } */

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--onyx);
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
}
.leaflet-right {
  display: none !important;
}

/* .leaflet-touch-drag{display: none !important;} */
.leaflet-interactive {
  /* stroke: rgb(9, 9, 212) !important; */
  pointer-events: none !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
  /* font-family: "poppins"; */
  font-family: monospace !important;
}
.leaflet-marker-draggable {
  display: none !important;
}
.bar {
  max-width: 90vw;
  /* background-color: red; */
}
:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--cultured-2);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border: 2px solid var(--cultured-2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

.central {
  max-width: 1200px;
  margin: 10px auto;
  /* height: 100vh; */
  position: relative;
  /* background-color: red; */
}
.box {
  width: 10em;
  height: 10em;
  display: grid;
  place-content: center;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  text-align: justify;
  text-justify: inter-word;
}
.buttonTrack {
  font-family: inherit;
  font-size: 20px;
  background: #115373;
  color: white;
  width: fit-content;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.buttonTrack:hover {
  background: #115373;
}
.buttonTrack span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonTrack svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonTrack:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonTrack:hover svg {
  transform: translateX(0) rotate(45deg) scale(1.1);
}

.buttonTrack:hover span {
  transform: translateX(5em);
}

.buttonTrack:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.owl-carousel {
  width: 100% !important;
  /* background-color: red !important; */
}

.owl-carousel .item {
  width: 100vw;
  /* background-color: red; */
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  height: 110svh;
  width: 100vw;
  position: relative;
}
.slider .list .items {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .items img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: translateX(30em); */
}
.slider .list .items::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #04213e 20%,
    rgba(4, 33, 62, 0.8504672897) 42%,
    rgba(4, 33, 62, 0.2) 100%
  );
}
.slider .list .items .content {
  position: absolute;
  left: 40%;
  top: 40%;
  /* height: 20em; */
  /* background-color: red; */
  width: 500px;
  max-width: 80%;
  z-index: 1;
  color: white;
}
/* notyf-custom.css */
/* styles/notyf-custom.css */
.italic-bold {
  color: #fff;
  font-style: italic;

  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 25px;
}
.banner-text {
  font-size: 30px;
  font-weight: 600;

  color: white;
}

.slider .list .items.active {
  opacity: 1;
  z-index: 5;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .items.active p:nth-child(1),
.slider .list .items.active h2,
.slider .list .items.active span,
.slider .list .items.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .items.active h2 {
  animation-delay: 0.4s;
}
.slider .list .items.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.arrows {
  position: absolute;
  top: 88%;
  right: 80px;
  z-index: 5;
  display: flex;
  display: none;
  gap: 1em;
}
.arrows button,
.arrows2 button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.arrows button:hover,
.arrows2 button:hover {
  background-color: #eee;
  color: black;
}
.discover {
  padding: 0.5em 2em;
  border: none;
  background: #1c84b4;
  border-radius: 2px;
  width: fit-content;
  color: white;
  margin: 1em 0;
  cursor: pointer;
}

.about-banner {
  position: relative;
  box-shadow: var(--shadow-2);
  width: 70%;
  min-height: 600px;
  margin-block-end: 60px;
}
.about-banner img:first-child {
  width: 100%;
  height: 600px !important;
  object-position: 40% 10%;
  object-fit: cover;
}

.about .abs-img-2 {
  display: none;
}

.about .abs-img-1 {
  position: absolute;
  bottom: 40px;
  right: 0;
  animation: move 2s ease-in-out infinite alternate;
}

.about :is(.section-title, .section-text) {
  margin-block-end: 20px;
}

.about-list {
  margin-block-end: 40px;
}

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.about-text {
  font-size: var(--fs-8);
}

.about-icon {
  min-width: max-content;
  color: var(--dark-orange);
  margin-block-start: 8px;
}

.about-item:not(:last-child) {
  margin-block-end: 10px;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.section-subtitle {
  font-size: 30px;
  font-weight: 600;
  color: #115373;
}
.section-title {
  font-size: 40px;
}
.service {
  background-color: var(--alice-blue);
}

.service :is(.section-subtitle, .section-title, .section-text) {
  text-align: center;
}

.service .section-title {
  margin-block-end: 20px;
}

.service .section-text {
  margin-block-end: 50px;
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.service-card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: red; */
  transition: var(--transition);
  box-shadow: 15px 15px 30px #0808084f, -15px -15px 30px var(--alice-blue);
}
.service-card:hover {
  box-shadow: 15px 15px 30px#1C84B4, -15px -15px 30px #ffffff;
}
.btn-link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: fit-content;
  gap: 0.5em;
  color: #115373;
}
.btn-link .span {
  font-weight: 600;
  font-size: 15px;
}
.btn-link i {
  transition: 0.1s linear;
  font-size: 12px;
}

.btn-link:hover i {
  transform: translateX(10px);
}
.btn {
  position: relative;
  color: var(--white);
  background-color: var(--dark-orange);
  max-width: max-content;
  font-size: var(--fs-9);
  letter-spacing: 1px;
  padding-block: 10px;
  padding-inline: 15px 50px;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: var(--transition);
}

.btn::before {
  top: 50%;
  right: 15px;
  width: 25px;
  height: 1px;
  background-color: var(--white);
}

.btn::after {
  top: -6px;
  right: -6px;
  bottom: -6px;
  width: 20px;
  border: 2px solid var(--dark-orange);
  z-index: -1;
}

.btn:is(:hover, :focus)::before {
  width: 33px;
}

.btn:is(:hover, :focus)::after {
  width: 40px;
}

.service-card .card-icon {
  margin-block-end: 30px;
}

.service-card .card-title .span {
  display: inline-block;
  color: var(--dark-orange);
  font-size: var(--fs-3);
  /* background-color: red; */
  margin-inline-end: 15px;
}

.service-card .card-text {
  margin-block: 10px 20px;
}

.footer {
  background-color: #115373;
  color: white;
  padding: 2rem 0;
}

.footer-top {
  display: grid;
  gap: 40px;
}

.footer .logo {
  color: var(--prussian-blue);
  font-weight: var(--fw-800);
  font-size: 3.2rem;
  white-space: nowrap;
}

.footer-text {
  margin-block: 10px 30px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: var(--indigo-dye);
  color: var(--white);
  font-size: 20px;
  padding: 12px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background-color: var(--prussian-blue);
}

.footer-list-title {
  font-size: var(--fs-6);
  max-width: max-content;
  padding-block-end: 10px;
  border-block-end: 3px solid var(--dark-orange);
  margin-block-end: 20px;
}

.footer-link {
  padding-block: 6px;
}

.footer-bottom {
  padding-block: 40px;
  border-block-start: 1px solid white;
  font-size: var(--fs-9);
  color: white;
}

.copyright-link {
  display: inline-block;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--eerie-black);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.centerab {
  position: relative;
}
.centerab .content {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0 !important;
  display: grid;
  place-content: center;
  left: 0 !important;
  /* transform: translate(-50%, -50%); */
}
.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

/*-----------------------------------*\
  #MEDIA QUERISE
\*-----------------------------------*/

/**
 * responsive for larger than 540px screen
 */

@media (min-width: 740px) {
  /**
   * REUSED STYLE
   */

  .btn {
    font-size: var(--fs-7);
    padding-inline: 30px 60px;
  }

  /**
   * HEADER
   */

  .header-contact {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: right;
    line-height: 1.2;
    margin-inline-start: auto;
  }

  .header .contact-label {
    text-transform: uppercase;
    font-size: var(--fs-9);
  }

  .header .contact-number {
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    letter-spacing: 1px;
  }

  .header .contact-icon {
    font-size: 35px;
    opacity: 0.6;
  }

  /**
   * ABOUT
   */

  .about .abs-img-2 {
    /* display: block; */
    /* position: absolute; */
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* left: 50px; */
    z-index: -1;
  }

  .about .abs-img-1 {
    right: -200px;
  }
}

/**
 * responsive for larger than 640px screen
 */

@media (min-width: 640px) {
  /**
   * REUSED STYLE
   */

  .h1 {
    --fs-3: 5rem;
  }

  .container {
    max-width: 740px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * HEADER
   */

  .header .container {
    max-width: unset;
  }

  .header .logo {
    font-size: 3.5rem;
  }

  /**
   * HERO
   */

  .hero {
    justify-content: flex-start;
  }

  .hero .shape-1 {
    left: 45px;
  }

  .hero-content {
    background-color: transparent;
    text-align: left;
  }

  .hero-title .span {
    --fs-2: 6rem;
  }

  .hero-text {
    max-width: 30ch;
  }

  .btn-outline {
    margin-inline: 0;
  }
}

/**
 * responsive for larger than 868px screen
 */

@media (min-width: 868px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .h1 {
    --fs-3: 6rem;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * HERO
   */

  .hero-title .span {
    --fs-2: 7rem;
  }

  .hero-text {
    font-size: var(--fs-7);
    max-width: 40ch;
    margin-block-end: 40px;
  }

  .btn-outline {
    font-size: var(--fs-7);
    padding: 12px 30px;
  }

  /**
   * FEATURES
   */

  .feature-card::before {
    --fs-1: 10rem;
  }

  /**
   * PROJECT
   */

  .project-list {
    gap: 80px;
  }

  .project-item {
    min-width: calc(50% - 40px);
  }

  /**
   * NEWSLETTER
   */

  .newsletter {
    margin-block-start: 110px;
  }

  .newsletter .container {
    position: relative;
  }

  .newsletter .newsletter-banner {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-block-end: 0;
  }

  .newsletter-content {
    max-width: 355px;
    margin-inline-start: auto;
  }

  .newsletter .section-title {
    --fs-4: 4rem;
  }

  .newsletter-btn {
    font-size: var(--fs-5);
    padding: 10px 30px;
  }

  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-4: 4.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  .h1 {
    --fs-3: 10rem;
  }

  .section-subtitle {
    --fs-6: 3rem;
  }

  .section-text {
    max-width: 70ch;
    margin-inline: auto;
  }

  .grid-list {
    display: grid;
    padding: 3em 0;
    /* place-content: center; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em;
    margin: 2em 0;
  }

  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar-top,
  .navbar-link > ion-icon {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    gap: 5px;
  }

  .navbar-item:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    color: var(--white);
  }

  .navbar-link:is(:hover, :focus) {
    background-color: transparent;
  }

  .header-contact {
    margin-inline-start: 0;
  }

  /**
   * HERO
   */

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-content {
    padding: 0;
  }

  .hero-title .span {
    --fs-2: 12rem;
  }

  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 4em 0;
    margin: 4em 0;
  }

  .about-banner {
    margin-block-end: 0;
  }

  .about .abs-img-1 {
    right: -100px;
  }

  .about :is(.section-title, .section-text) {
    margin-block-end: 35px;
  }

  /**
   * FEATURE
   */

  .feature .title-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: self-end;
  }

  .feature .section-text {
    margin-block-end: 0;
  }

  .feature-list {
    margin-block-start: 120px;
  }

  .feature-card {
    padding-block-start: 80px;
  }

  .feature-card::before {
    --fs-1: 16rem;
    position: absolute;
    top: -90px;
    left: 20px;
  }

  /**
   * PROJECT
   */

  .project-item {
    min-width: calc(33.33% - 53.33px);
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * NEWSLETTER
   */

  .newsletter {
    padding-block: 30px;
  }

  .newsletter .newsletter-banner {
    bottom: -30px;
  }

  .newsletter-content {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: repeat(4, 1fr);
    justify-items: self-end;
  }

  .copyright {
    text-align: center;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1180px;
  }

  .h1 {
    --fs-3: 12rem;
  }

  /**
   * HEADER
   */

  .header .contact-number {
    --fs-6: 3rem;
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: 150px;
    background-position: left;
  }

  .hero-title .span {
    --fs-2: 14rem;
  }

  .hero-text {
    --fs-7: 2.4rem;
  }

  /**
   * ABOUT
   */

  .about-banner {
    max-width: 370px;
  }

  .about .abs-img-2 {
    width: max-content;
  }

  /**
   * NEWSLETTER
   */

  .newsletter-content {
    max-width: 840px;
    grid-template-columns: 0.8fr 1fr;
  }

  /**
   * FOOTER
   */

  .footer-top {
    padding-block: 60px;
  }
}

.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: white;
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: #115373;
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

@media screen and (max-width: 740px) {
  .slider {
    height: 60vh;
  }
  .content {
    top: 20% !important;
    /* background-color: red; */
    width: 100% !important;
  }

  .arrows {
    right: 5% !important;
  }
}

.wrapper {
  display: inline-flex;
  list-style: none;
  /* height: 120px; */

  width: 100%;
  /* padding-top: 40px; */

  justify-content: flex-start;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: wheat;
  color: #000;
}
.fa-envelope {
  color: black;
  font-size: 17px;
}

.about {
  margin-bottom: 2em;
  padding: 1em;
  max-width: 100%;
}
.about-content {
  /* background-color: red; */
  max-width: 100%;
}
.service {
  padding: 1em;
}
.service-card {
  margin: 1em 0;
}

@media screen and (max-width: 740px) {
  .service-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
  }
  .section-title {
    font-size: 25px;
  }
  .footer .logo {
    font-size: 25px;
  }
}

.global-scope {
  padding: 4em 0;
  /* margin: 2em 0; */
  background-color: #f8f8f8;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.693), rgba(0, 0, 0, 0.798)),
    url("/images/pexels-lara-jameson-8828616.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
.image {
  width: 50%;
  min-height: 100%;
  z-index: 2;
  /* background-color: red; */
}
.rotate-globe {
  /* position: absolute; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/globe.png);
  background-color: #115373;
  background-size: cover;
  height: 50rem;
  width: 50rem;
  /* top: 8em; */
  /* right: -4em; */
  border-radius: 50%;
  animation: animer 25s linear infinite;
}

.holding svg {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  /* display: none; */
  width: 100%;
  scale: 1.5;
  height: 100%;
  /* fill:black; */
  stroke-width: 2px;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  animation: liner 3.5s linear infinite;
}
.holding {
  position: relative;
  /* background-color: red; */
  /* padding: 2em; */
  width: fit-content;
  /* margin: 0 auto; */
  /* transform: translateX(5em); */
}
@keyframes liner {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: -1500;
  }

  80% {
    stroke-dashoffset: -3000;
  }

  100% {
    stroke-dashoffset: -3000;
  }
}

@keyframes animer {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 4098px 0;
  }
}

.global-scope .container {
  position: relative;
  max-width: 70%;
  width: 100%;
  background: transparent;
  color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 740px) {
  .numbers {
    padding: 1em !important;
  }
  .global-scope .container {
    max-width: 100%;
  }
  .holding {
    transform: translateX(20em);
  }
  .info {
    flex-direction: column;
    /* background-color: red; */
    justify-content: start !important;
    align-items: flex-start !important;
    padding: 0.5em;
    /* background-color: green; */
  }
  .info h1 {
    font-size: 20px !important;
  }
  .info p {
    min-width: 200% !important;
    padding: 1em 0;
    height: 10em;
    overflow: scroll;
    margin-bottom: 2em;
    /* background-color: red; */
  }

  .image-gallery {
    padding: 0.5em !important;
  }
  .numbers {
    flex-direction: column !important;
  }
}

.intro-head {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin: 0.5em 0;
  align-items: center;
}
.intro-head h2,
.intro-head i {
  font-size: 20px;
}
.global-scope .container header {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.global-scope .container .form {
  margin-top: 15px;
}

.form .input-box {
  width: 100%;
  /* border: none; */
  margin-top: 10px;
}

.input-box label {
  color: #fff;
  font-size: 15px;
  white-space: nowrap;
}
::placeholder {
  font-size: 13px;
}
.form textarea {
  min-width: 100%;
  display: block;
  height: 7em;
  border-radius: 6px;
  /* padding: 0 15px; */
  padding: 0.5em;
  outline: none;
  color: white;
  background: #f8f8f81f;
  border: none;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  border: none;
  color: #808080;
  margin-top: 5px;
  /* border: 1px solid #fff; */
  border-radius: 6px;
  /* padding: 0 15px; */
  padding: 2em;
  background: #f8f8f81f;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 10px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #115373;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #fff;
}

.address :where(input, .select-box) {
  margin-top: 10px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #808080;
  font-size: 1rem;
  background: #fcedda;
}

.form button {
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #1c84b4;
}

.info {
  margin: 2em 0;
  display: flex;
  position: relative;
  padding: 2em 4.5em;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.info .image h1 {
  white-space: nowrap;
  font-size: 40px;
  margin: 0.5em 0;
}
.info .image p {
  font-size: 12px;
  line-height: 20px;
}

.LapImage {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  /* background-color: red; */
}

.LapImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-gallery {
  margin-top: 6em;
  width: 100vw;
  padding: 1em 3em;
  background-color: rgb(65, 105, 225);
  color: white;
  text-align: center;
}

.images {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  column-width: 33%;
  row-gap: 1em;
  column-gap: 1em;
  gap: 1.5em;
  /* margin: 4em 0; */
  padding: 0 1em;
}

.images li {
  position: relative;
  margin: 0.5em 0;
  /* width: 40%; */
  overflow: hidden;
  /* background-color: red; */
  border-radius: 5px !important;
}

.images li img {
  border-radius: 5px !important;

  width: 115%;
  transition: 0.4s;
  height: 100%;
  display: block;
  transform: translateX(-10px);
}

.images a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  /* top: 0; */
  z-index: 1;
  transition: 0.4s;
}

.images a:hover::before {
  background-color: rgba(0, 0, 0, 0.433);
}

.images li:hover img {
  transform: translateX(0);
}
.numbers {
  display: flex;
  /* justify-content: space-between; */
  gap: 3em;
  /* width: 50%; */
  justify-content: center;
  padding: 2em 0;
}
.lineBox {
  /* background-color: red; */
  padding: 0 2em;
  border-left: 10px solid#1C84B4;
}
.lineBox h2 {
  font-size: 35px;
  color: #115373;
  height: 1.5em;
  width: 5em;
  /* background-color: red; */
}
.lineBox p {
  font-size: 17px;
}
.info2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start !important;
  /* justify-content: space-between; */
  background-color: white;
  color: black;
  
}
.LapImage2 {
  min-width: 30%;
  /* background-color: red; */
}
.LapImage2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image2 {
  padding: 1em 0;
  max-height: 100% !important;
  min-height: 200% !important;
  /* height: 32em; */
  min-width: 100%;
  display: flex;
 
}
.revs {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%
}
.info2 {
  /* min-height: max-content; */
  height: auto;
  /* background-color: red; */
  position: relative;
  align-items: center;
}

.image2 p {
  width: 70%;
  margin: 0 auto;
}
.image2 h1{
  font-weight: 700;
  font-size: 40px;
  color: #115373;
}
.boxImage {
  width: 5em;
  height: 5em;
  background-color: #f8f8f8;
  border-radius: 50%;
  overflow: hidden;
  /* display: grid; */
}
.boxImage img {
  width: 100%;
  height: 100%;
}

#prev2 {
  left: 10% !important;
  position: absolute !important;
  top: 50%;
  border-radius: 50%;
  color:#115373;
}
#next2 {
  position: absolute;
  right: 10%;
  top: 50%;
  border-radius: 50%;
  color:#115373;
}
.revs {
  visibility: hidden;
  opacity: 0;
  /* display: none; */
  transition: 0.8s;
  position: absolute;
}
.boxShow {
  visibility: visible;
  opacity: 1;
  /* display: block; */
}

@media screen and (max-width: 740px) {
  .info2 {
    flex-direction: column !important;
  }
  .image2 {
    min-width: 100%;
    height: 30em;
    position: relative;
    /* padding: 3em 0; */
  }
  #prev2 {
    left: 5% !important;
  }
  #next2 {
    right: 5% !important;
  }
  .image2 p {
    height: 12em;
    overflow: scroll;
  }
  .LapImage2 {
    min-width: 100%;
  }
}

.info p::-webkit-scrollbar,
.info2 p::-webkit-scrollbar {
  display: none;
}
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

/* From Uiverse.io by Cksunandh */
.triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #115373 transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1s ease-in-out infinite normal;
}

.triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #e4680a transparent;
  margin: -50px auto 0;
  animation: shk2 1s ease-in-out infinite alternate;
}
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }

  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
  }
}

.text {
  color: #949494;
  margin: 30px auto;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
}

.loadingStuff {
  position: fixed;
  top: 0;
  z-index: 999999999999 !important;
  left: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background: rgba(255, 255, 255, 0.5); /* Add a semi-transparent background */
  -webkit-backdrop-filter: blur(15px) !important; /* For Safari */
  backdrop-filter: blur(15px) !important;
}

.hamburger {
  display: none;
}

@media screen and (min-width: 741px) {
  .images {
    column-count: 5;
  }
}

@media screen and (max-width: 740px) {
  .holding {
    /* display: none; */
    margin: 0;
  }
  .rotate-globe {
    height: 30rem;
    width: 30rem;
  }
  .hamburger {
    display: block;
  }
  .slider .list .items .content h2,
  .slider .list .items .content span {
    font-size: 30px;

    white-space: wrap !important;
  }
  .slider .list .items .content p {
    font-size: 12px;
    width: 100%;
  }

  .numbers {
    flex-direction: column !important;
  }
  .images {
    column-count: 3;
  }
  .info,
  .info2 {
    flex-direction: column !important;
  }
  .footer {
    padding: 1em;
  }
}
@media screen and (max-width: 540px) {
  .slider .content {
    /* background-color: red; */
    min-width: 90%;
  }
  .slider .content h2 {
    font-weight: 900 !important;
  }
  .log {
    padding: 0 1em;
    margin: 2em 0;
  }
  .numbers {
    flex-direction: column !important;
  }
  .images {
    column-count: 1;
  }
  .info,
  .info2 {
    flex-direction: column !important;
  }
  .holding {
    /* display: none; */
    margin: 0;
  }

  .rotate-globe {
    height: 25rem;
    width: 25rem;
  }
}
.slider .content button {
  background-color: #115373;
  padding: 1em 3em;
  cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
